In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import squarify
%matplotlib inline

style.use('seaborn')

In [31]:
codebook=pd.read_csv('HackerRank-Developer-Survey-2018-Codebook.csv')
numeric_mapping=pd.read_csv('HackerRank-Developer-Survey-2018-Numeric-Mapping.csv')
numeric=pd.read_csv('HackerRank-Developer-Survey-2018-Numeric.csv', na_values=['#NULL!', 'nan'])
values=pd.read_csv('HackerRank-Developer-Survey-2018-Values.csv', na_values=['#NULL!', 'nan'])

C:\Users\rijhwani\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10,19,138) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\rijhwani\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3,10,19,137,138) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
codebook.head()

,Data Field,Survey Question,Notes
0,RespondentID,NaN,Respondent ID
1,StartDate,NaN,When did they start (date and time)
2,EndDate,NaN,When did they end (date and time)
3,CountryNumeric2,NaN,see Country-Code-Mapping.csv
4,q1AgeBeginCoding,At what age did you start coding,NaN

In [33]:
numeric_mapping.head()

         Data Field  Value              Label
0  q1AgeBeginCoding      1   5 - 10 years old
1  q1AgeBeginCoding      2  11 - 15 years old
2  q1AgeBeginCoding      3  16 - 20 years old
3  q1AgeBeginCoding      4  21 - 25 years old
4  q1AgeBeginCoding      5  26 - 30 years old

In [34]:
numeric.head()

,RespondentID,StartDate,EndDate,CountryNumeric2,q1AgeBeginCoding,q2Age,q3Gender,q4Education,q0004_other,q5DegreeFocus,...,q30LearnCodeOther,q0030_other,q31Level3,q32RecommendHackerRank,q0032_other,q33HackerRankChallforJob,q34PositiveExp,q34IdealLengHackerRankTest,q0035_other,q36Level4
0,6464453728,10/19/17 11:51,10/20/17 12:05,148.0,3.0,3.0,2.0,3.0,NaN,1.0,...,1,datacamp,1,1.0,NaN,2.0,NaN,NaN,NaN,2.0
1,6478031510,10/26/17 6:18,10/26/17 7:49,164.0,3.0,4.0,1.0,7.0,NaN,2.0,...,0,NaN,1,1.0,NaN,2.0,NaN,NaN,NaN,2.0
2,6464392829,10/19/17 10:44,10/19/17 10:56,98.0,2.0,2.0,2.0,3.0,NaN,2.0,...,0,NaN,1,1.0,NaN,2.0,NaN,NaN,NaN,2.0
3,6481629912,10/27/17 1:51,10/27/17 2:05,43.0,2.0,2.0,1.0,5.0,NaN,1.0,...,0,NaN,1,1.0,NaN,2.0,NaN,NaN,NaN,3.0
4,6488385057,10/31/17 11:46,10/31/17 11:59,NaN,3.0,4.0,2.0,5.0,NaN,0.0,...,1,Blogs/articles by industry leaders,1,1.0,NaN,2.0,NaN,NaN,NaN,3.0

In [35]:
values.head()

,RespondentID,StartDate,EndDate,CountryNumeric2,q1AgeBeginCoding,q2Age,q3Gender,q4Education,q0004_other,q5DegreeFocus,...,q30LearnCodeOther,q0030_other,q31Level3,q32RecommendHackerRank,q0032_other,q33HackerRankChallforJob,q34PositiveExp,q34IdealLengHackerRankTest,q0035_other,q36Level4
0,6464453728,10/19/17 11:51,10/20/17 12:05,South Korea,16 - 20 years old,18 - 24 years old,Female,Some college,NaN,Computer Science,...,Other (please specify),datacamp,num%2 == 0,Yes,NaN,No,NaN,NaN,NaN,Queue
1,6478031510,10/26/17 6:18,10/26/17 7:49,Ukraine,16 - 20 years old,25 - 34 years old,Male,"Post graduate degree (Masters, PhD)",NaN,"Other STEM (science, technology, engineering, ...",...,NaN,NaN,num%2 == 0,Yes,NaN,No,NaN,NaN,NaN,Queue
2,6464392829,10/19/17 10:44,10/19/17 10:56,Malaysia,11 - 15 years old,12 - 18 years old,Female,Some college,NaN,"Other STEM (science, technology, engineering, ...",...,NaN,NaN,num%2 == 0,Yes,NaN,No,NaN,NaN,NaN,Queue
3,6481629912,10/27/17 1:51,10/27/17 2:05,Curaçao,11 - 15 years old,12 - 18 years old,Male,College graduate,NaN,Computer Science,...,NaN,NaN,num%2 == 0,Yes,NaN,No,NaN,NaN,NaN,Hashmap
4,6488385057,10/31/17 11:46,10/31/17 11:59,NaN,16 - 20 years old,25 - 34 years old,Female,College graduate,NaN,NaN,...,Other (please specify),Blogs/articles by industry leaders,num%2 == 0,Yes,NaN,No,NaN,NaN,NaN,Hashmap

In [36]:
codebook.columns=['FieldName','Question','Notes']
codebook.set_index('FieldName',inplace=True)
numeric_mapping.set_index('Data Field',inplace=True)

In [37]:
numeric_mapping.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452 entries, q1AgeBeginCoding to q36Level4
Data columns (total 2 columns):
Value    452 non-null int64
Label    452 non-null object
dtypes: int64(1), object(1)
memory usage: 10.6+ KB

In [38]:
numeric_mapping=numeric_mapping.Value.astype('float')

In [39]:
numeric.q1AgeBeginCoding.describe()

count    25060.000000
mean         2.953911
std          0.872670
min          1.000000
25%          3.000000
50%          3.000000
75%          3.000000
max          9.000000
Name: q1AgeBeginCoding, dtype: float64

In [42]:
numeric.isnull().sum()

RespondentID                       0
StartDate                          0
EndDate                            0
CountryNumeric2                 3991
q1AgeBeginCoding                  30
q2Age                             41
q3Gender                          69
q4Education                      305
q0004_other                    24630
q5DegreeFocus                    162
q0005_other                    23375
q6LearnCodeUni                     0
q6LearnCodeSelfTaught              0
q6LearnCodeAccelTrain              0
q6LearnCodeDontKnowHowToYet        0
q6LearnCodeOther                   0
q0006_other                    24601
q7Level1                           0
q8JobLevel                         0
q0008_other                    24133
q8Student                          0
q9CurrentRole                     35
q0009_other                    24046
q10Industry                      674
q0010_other                    21578
q12JobCritPrefTechStack            0
q12JobCritCompMission              0
q12JobCritCompCulture              0
q12JobCritWorkLifeBal              0
q12JobCritCompensation             0
                               ...
q29FrameLoveDjango                 0
q29FrameLovePyramid                0
q29FrameLoveRubyonRails            0
q29FrameLovePadrino                0
q29FrameLoveASP                    0
q29FrameLoveNetCore                0
q29FrameLoveNodeDotjs              0
q29FrameLoveExpressJS              0
q29FrameLoveMeteor                 0
q29FrameLoveCocoa                  0
q29FrameLoveReactNative            0
q29FrameLoveRubyMotion             0
q0029_other                    24423
q30LearnCodeStackOverflow          0
q30LearnCodeYoutube                0
q30LearnCodeMOOC                   0
q30LearnCodeCompCodingSites        0
q30LearnCodeOnlineTutorial         0
q30LearnCodeBooks                  0
q30LearnCodeAcademicPaper          0
q30LearnCodeOther                  0
q0030_other                    23867
q31Level3                          0
q32RecommendHackerRank           110
q0032_other                    24708
q33HackerRankChallforJob         186
q34PositiveExp                 16073
q34IdealLengHackerRankTest     14955
q0035_other                    24881
q36Level4                        163
Length: 251, dtype: int64

In [44]:
values.fillna('Not Given')
numeric=numeric.fillna(-1)

In [52]:
tot_columns=values.columns.ravel()